$font-family: 'Poppins', sans-serif;
$primary-color: #9474f4;
$secondary-color: #5e5e5e;
$background-gradient: radial-gradient(at 62% 31%, hsla(236, 90%, 67%, 1) 0px, transparent 50%),
                    radial-gradient(at 95% 77%, hsla(354, 66%, 72%, 1) 0px, transparent 50%),
                    radial-gradient(at 61% 42%, hsla(21, 91%, 65%, 1) 0px, transparent 50%),
                    radial-gradient(at 97% 38%, hsla(227, 97%, 73%, 1) 0px, transparent 50%),
                    radial-gradient(at 90% 9%, hsla(222, 90%, 63%, 1) 0px, transparent 50%),
                    radial-gradient(at 87% 15%, hsla(238, 95%, 75%, 1) 0px, transparent 50%),
                    radial-gradient(at 12% 83%, hsla(355, 99%, 62%, 1) 0px, transparent 50%);

:root {
  font-family: $font-family;
  background-color: #c999ff;
  background-image: $background-gradient;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font-family;
}

body {
  height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loginForm, .registerForm {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 40px 20px;
  width: 500px;
  background-color: #f3f3f9;
  border-radius: 30px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
  overflow: hidden;

  .logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;

    img {
      height: 40px;
      margin-bottom: 50px;
      margin-left: 10px;
    }

    h1 {
      font-size: 3rem;
      font-weight: 700;
      color: #333;

      span {
        color: $primary-color;
      }
    }
  }

  .heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;

    h2 {
      font-size: 2rem;
      font-weight: 600;
      color: $primary-color;
      margin-bottom: 10px;
    }

    p {
      font-size: 1rem;
      font-weight: 500;
      color: $secondary-color;
    }
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;

    .formGroup {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      width: 80%;
      margin-bottom: 20px;
      background-color: #fff;
      border-radius: 20px;
      padding: 15px;

      label {
        font-size: 1rem;
        font-weight: 600;
        color: $secondary-color;
        margin-bottom: 10px;
        text-align: left;
      }

      .inputGroup {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        border: none;
        outline: none;
        background-color: transparent;

        input {
          width: 100%;
          border: none;
          outline: none;
          font-size: 1rem;
          font-weight: 500;
          color: $secondary-color;
          background-color: transparent;
          margin-left: 10px;

          &::placeholder {
            font-size: 1rem;
            font-weight: 500;
            color: $secondary-color;
            font-style: italic;
          }
        }

        .inputIcon {
          font-size: 1rem;
          color: $primary-color;
        }
      }
    }

    .remember_forget {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 80%;       
      margin: 10px auto;

      .formCheckbox {
        display: flex;
        align-items: center;
        justify-content: center;

        .checkbox {
          width: 15px;
          height: 15px;
          border: 1px solid $secondary-color;
          border-radius: 5px;
          margin-right: 10px;
          cursor: pointer;
          transition: all 0.3s ease-in-out;

          &:hover {
            border: 1px solid $primary-color;
          }

          input {
            width: 100%;
            height: 100%;
            opacity: 0;
            cursor: pointer;
          }
        }
      }
      
      .forgetPassword {
        font-size: 1rem;
        font-weight: 500;
        color: $primary-color;
        text-decoration: none;
        transition: all 0.3s ease-in-out;
        &:hover {
          text-decoration: underline;
        }
      }
    }

    button {
      width: 80%;
      border: none;
      outline: none;
      background-color: $primary-color;
      color: #fafafa;
      font-size: 1.2rem;
      font-weight: 500;
      padding: 1rem;
      border-radius: 30px;
      cursor: pointer;
      transition: all 0.3s ease-in-out;
      margin: 20px 0;

      &:hover {
        background-color: #8965f5;
      }
    }

    span {
      font-size: 1rem;
      font-weight: 500;
      color: $secondary-color;
      margin-top: 10px;

      a {
        color: $primary-color;
        text-decoration: none;
        font-weight: 600;

        &:hover {
          text-decoration: none;
        }
      }
    }
  }
}


.home {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 70vw;
  height: 800px;
  background-color: #f3f3f9;
  border-radius: 30px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
  overflow: hidden;

  .sidebar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    background-color: #fff;
    width: 60px;
    height: 100%;
    padding: 20px 5px;
    
    .logo {
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        height: 30px;
      }
    }

    .sidebarMenu {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      gap: 20px;

      .menuIcon {
        font-size: 1.5rem;
        color: $primary-color;
        cursor: pointer;
        transition: all 0.3s ease-in-out;

        &:hover {
          color: #7247f3;
        }
      }

    }

    .user {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      gap: 10px;

      .userIcon {
        font-size: 1.5rem;
        color: $primary-color;
        cursor: pointer;
        transition: all 0.3s ease-in-out;

        &:hover {
          color: #7247f3;
        }
      }

      .userImg {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        border: 2px solid $primary-color;
        object-fit: cover;
      }
    }
  }

  .chats {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 30%;
    background-color: #f2efff;
    height: 100%;
    padding: 20px 10px;
    overflow-y: auto;

    .searchbar {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 50px;
      background-color: #fff;
      border-radius: 20px;
      padding: 0 10px;

      .searchIcon {
        font-size: 1.5rem;
        color: $primary-color;
      }

      input {
        width: 100%;
        height: 100%;
        border: none;
        outline: none;
        background-color: transparent;
        font-size: 1rem;
        font-weight: 500;
        color: $secondary-color;
        margin-left: 10px;

        &::placeholder {
          font-size: 1rem;
          font-weight: 500;
          color: $secondary-color;
          font-style: italic;
        }
      }
    }

    .chatsContainer {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      flex-direction: column;
      width: 100%;
      height: 100%;
      margin-top: 20px;
      gap: 15px;

      .chat {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        height: 80px;
        background-color: #fff;
        color: $secondary-color;
        border-radius: 20px;
        padding: 10px 20px;
        cursor: pointer;
        transition: all 0.3s ease-in-out;

        &:hover {
          background-color: $primary-color;
          color: #fafafa;
          .chatUser {
            .chatInfo {
              .chatName {
                color: #fafafa;
              }
            }
            .chatImg {
              border: 2px solid #fafafa;
            }
          }
        }
        
        .chatUser {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 10px;
          flex-direction: row;
          
          .chatImg {
            width: 60px;
            height: 60px;
            border-radius: 50%;
            border: 2px solid $primary-color;
            object-fit: cover;

            &.online {
              border: 2px solid #00ff00;
            }

            &.offline {
              border: 2px solid #ff0000;
            }
          }

          .chatInfo {
            display: flex;
            justify-content: center;
            flex-direction: column;
            gap: 10px;
  
            .chatName {
              font-size: 1rem;
              font-weight: 600;
              color: $primary-color;
            }
  
            .chatMsg {
              font-size: 0.8rem;
              font-weight: 500;
            }
          }
        }

        .chatTime {
          font-size: 0.7rem;
          font-weight: 500;
        }
      }
    }

  }
}