@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

$font-family: "Poppins", sans-serif;
$primary-color: #9474f4;
$primary-color-dark: #7247f3;
$grey: #5e5e5e;
$white: #fff;
$accent-color-1: #f3f3f9; // Background color for forms
$accent-color-2: #f2efff; // Background color for chats
$accent-color-3: #f4f4fa; // Background color for chat main section
$online-color: #00ff00; // Online status color
$offline-color: #ff0000; // Offline status color
$background-gradient: radial-gradient(at 62% 31%,hsla(236, 90%, 67%, 1) 0px,  transparent 50%), radial-gradient(at 95% 77%, hsla(354, 66%, 72%, 1) 0px, transparent 50%), radial-gradient(at 61% 42%, hsla(21, 91%, 65%, 1) 0px, transparent 50%), radial-gradient(at 97% 38%, hsla(227, 97%, 73%, 1) 0px, transparent 50%), radial-gradient(at 90% 9%, hsla(222, 90%, 63%, 1) 0px, transparent 50%), radial-gradient(at 87% 15%, hsla(238, 95%, 75%, 1) 0px, transparent 50%), radial-gradient(at 12% 83%, hsla(355, 99%, 62%, 1) 0px, transparent 50%);

:root {
  font-family: $font-family;
  background-color: #c999ff;
  background-image: $background-gradient;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font-family;
}

body {
  height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loginForm,
.registerForm {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 30px 10px;
  width: 500px;
  background-color: $accent-color-1;
  border-radius: 30px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
  overflow: hidden;

  .logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    img {
      height: 40px;
      margin-bottom: 50px;
      margin-left: 10px;
    }

    h1 {
      font-size: 3rem;
      font-weight: 700;
      color: #333;

      span {
        color: $primary-color;
      }
    }
  }

  .heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;

    h3 {
      font-size: 1.1rem;
      font-weight: 500;
      color: $grey;

      span {
        color: $primary-color;
      }
    }
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;

    .formGroup {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      width: 80%;
      margin-bottom: 20px;
      background-color: $white;
      border-radius: 20px;
      padding: 15px;

      label {
        font-size: 1rem;
        font-weight: 500;
        color: $grey;
        margin-bottom: 10px;
        text-align: left;
      }

      .inputGroup {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        border: none;
        outline: none;
        background-color: transparent;

        input {
          width: 100%;
          border: none;
          outline: none;
          font-size: 1rem;
          font-weight: 400;
          color: $grey;
          background-color: transparent;
          margin-left: 10px;

          &::placeholder {
            font-size: 1rem;
            font-weight: 400;
            color: $grey;
            font-style: italic;
          }
        }

        .inputIcon {
          font-size: 1rem;
          color: $primary-color;
        }
      }
    }

    .remember_forget {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 80%;
      margin-bottom: 20px;

      .remember {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        gap: 5px;

        label {
          font-size: 1rem;
          font-weight: 500;
          color: $grey;
        }
      }

      .forget {
        font-size: 1rem;
        font-weight: 500;
        color: $primary-color;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
        text-decoration: none;

        &:hover {
          color: $primary-color-dark;
        }
      }
    }

    button {
      width: 80%;
      border: none;
      outline: none;
      background-color: $primary-color;
      color: #fafafa;
      font-size: 1.2rem;
      font-weight: 600;
      padding: 1rem;
      border-radius: 30px;
      cursor: pointer;
      transition: all 0.3s ease-in-out;
      margin: 20px 0;

      &:hover {
        background-color: #8965f5;
      }
    }

    span {
      font-size: 1rem;
      font-weight: 400;
      color: $grey;
      margin-top: 10px;

      a {
        color: $primary-color;
        text-decoration: none;
        font-weight: 500;

        &:hover {
          text-decoration: none;
        }
      }
    }
  }
}

.home {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 70vw;
  height: 800px;
  background-color: $accent-color-1;
  border-radius: 25px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
  overflow: hidden;

  .noChatMessage {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    width: 70%;
    height: 100%;
    padding: 20px 10px;

    h4 {
      font-size: 2rem;
      font-weight: 500;
      color: $primary-color;
      margin-bottom: 10px;
    }

    p {
      font-size: 1rem;
      font-weight: 400;
      color: $grey;
    }
  }

  .sidebar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    background-color: $white;
    width: 60px;
    height: 100%;
    padding: 20px 5px;

    .logo {
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        height: 30px;
      }
    }

    .sidebarMenu {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      gap: 10px;

      .sidebarIcon {
        font-size: 1.5rem;
        color: $primary-color;
        cursor: pointer;
        transition: all 0.3s ease-in-out;

        &:hover {
          color: $primary-color-dark;
        }
      }
    }

    .sidebarUser {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      gap: 20px;

      .userSignOut {
        font-size: 1.5rem;
        color: $primary-color;
        cursor: pointer;
        transition: all 0.3s ease-in-out;

        &:hover {
          color: $primary-color-dark;
        }
      }

      .userImg {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        border: 2px solid $primary-color;
        object-fit: cover;
      }
    }
  }

  .chatsContainer {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    width: 30%;
    background-color: $accent-color-2;
    height: 100%;
    padding: 20px 10px;
    overflow-y: auto;

    .searchbar {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      flex-direction: column;
      width: 100%;

      .searchForm {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        width: 100%;
        height: 60px;
        background-color: $white;
        border-radius: 20px;
        padding: 10px 20px;
        margin-bottom: 10px;
        box-shadow: 0px 5px 10px rgba(9, 9, 9, 0.1);

        input[type="text"] {
          width: 100%;
          height: 100%;
          border: none;
          outline: none;
          background-color: transparent;
          font-size: 1rem;
          font-weight: 500;
          color: $grey;
          margin-left: 10px;

          &::placeholder {
            font-size: 1rem;
            font-weight: 400;
            color: $grey;
            font-style: italic;
          }
        }

        .searchIcon {
          font-size: 1.5rem;
          color: $primary-color;
          cursor: pointer;
          transition: all 0.3s ease-in-out;

          &:hover {
            color: $primary-color-dark;
          }
        }
      }

      .searchResult {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-direction: column;
        width: 100%;
        height: 100%;
        padding: auto;
        margin-bottom: 10px;

        .searchResultUser {
          display: flex;
          align-items: center;
          justify-content: space-between;
          width: 100%;
          height: 80px;
          background-color: $primary-color;
          color: #fafafa;
          border-radius: 20px;
          padding: 10px 20px;
          gap: 10px;
          cursor: pointer;

          .searchResultUserImg {
            width: 60px;
            height: 60px;
            border-radius: 50%;
            border: 2px solid #fafafa;
            object-fit: cover;
          }

          .searchResultUserInfo {
            display: flex;
            align-items: flex-start;
            justify-content: center;
            flex-direction: column;

            .searchResultUserName {
              font-size: 1rem;
              font-weight: 600;
              color: #fafafa;
            }

            .searchResultUserProfession {
              font-size: 1rem;
              font-weight: 400;
            }
          }

          .searchResultbuttons {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: row;
            gap: 5px;

            .searchResultbutton {
              font-size: 1.1rem;
              color: #fafafa;
              cursor: pointer;
            }
          }
        }
      }
    }

    ::-webkit-scrollbar {
      width: 0px;
    }

    .chatsList {
      display: flex;
      justify-content: flex-start;
      flex-direction: column;
      width: 100%;
      height: 100%;
      gap: 10px;
      padding: 10px 0;
      overflow-y: scroll;

      .chatTitle {
        font-size: 0.8rem;
        font-weight: 600;
        color: $primary-color;
      }

      .chatCard {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        height: 90px;
        background-color: $white;
        border-radius: 20px;
        padding: 10px 20px;
        gap: 10px;
        cursor: pointer;
        transition: all 0.3s ease-in-out;

          &.selected {
            background-color: $primary-color;
            .chatUserInfo{
              .chatUserImg {
                border: 2px solid $white;
              }      
              .chatContent {
                .chatUser {
                  .chatUserName {
                    color: $white;
                  }
                  .chatUserProfession {
                    color: $accent-color-1;
                  }
                }
                .chatLastMessage {
                  color: $white;
                }
              }      
            }
            .chatUserDetails {
              .timestamp {
                color: $white;
              }
              .button {
                color: $white;
              }
            }
          }

        .chatUserInfo {
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: row;
          gap: 20px;

          .chatUserImg {
            width: 70px;
            height: 70px;
            border-radius: 50%;
            border: 2px solid $primary-color;
            object-fit: cover;
          }

          .chatContent {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            text-align: left;
            gap: 10px;

            .chatUser {
              display: flex;
              flex-direction: column;
              align-items: flex-start;
              text-align: left;

              .chatUserName {
                font-size: 1rem;
                font-weight: 600;
                color: $primary-color;
              }

              .chatUserProfession {
                font-size: 0.7rem;
                font-weight: 500;
                color: $grey;
              }
            }

            .chatLastMessage {
              font-size: 0.8rem;
              font-weight: 500;
              color: $grey;
            }
          }
        }

        .chatUserDetails {
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          text-align: center;
          gap: 10px;

          .timestamp {
            font-size: 0.6rem;
            font-weight: 500;
            color: $grey;
          }

          .button {
            font-size: 1.5rem;
            color: $primary-color;
            cursor: pointer;
            transition: all 0.3s ease-in-out;

            &:hover {
              color: $primary-color-dark;
            }
          }
        }
      }
    }
  }

  .chat {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    width: 70%;
    height: 100%;
    background-color: $accent-color-3;
    padding: 20px 10px;
    overflow-y: auto;
    ::-webkit-scrollbar {
      width: 5px;
    }

    ::-webkit-scrollbar-track {
      background: transparent;
    }

    .chatHeader {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      height: 80px;
      background-color: $white;
      border-radius: 20px;
      padding: 10px 20px;
      
      .chatUser {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        flex-direction: row;

        .chatImg {
          width: 60px;
          height: 60px;
          border-radius: 50%;
          border: 2px solid $primary-color;
          object-fit: cover;

          &[data-online="true"] {
            border: 2px solid $online-color;
          }

          &[data-online="false"] {
            border: 2px solid $offline-color;
          }
        }

        .chatInfo {
          display: flex;
          justify-content: center;
          flex-direction: column;
          gap: 10px;

          .chatName {
            font-size: 1rem;
            font-weight: 600;
            color: $primary-color;
          }

          .chatStatus {
            font-size: 0.8rem;
            font-weight: 500;
            color: $grey;
          }
        }
      }

      .chatActions {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;

        .chatAction button {
          font-size: 1rem;
          color: $primary-color;
          cursor: pointer;
          transition: all 0.3s ease-in-out;

          &:hover {
            color: $primary-color-dark;
          }
        }
      }
    }

    .Messages {
      display: flex;
      justify-content: flex-start;
      flex-direction: column;
      width: 100%;
      height: 100%;
      padding: 20px 10px;
      gap: 20px;
      overflow-y: auto;

      .noMessages {
        text-align: center;
        margin-top: 25%;
        opacity: 0.5;
      }

      .message {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 20px;

        &.Sender {
          flex-direction: row-reverse;

          > .SenderInfo {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 5px;

            .SenderImg {
              width: 40px;
              height: 40px;
              border: 2px solid $primary-color;
              border-radius: 50%;
              object-fit: cover;
            }

            .timestamp {
              font-size: 0.7rem;
              font-weight: 500;
              color: $grey;
            }
          }
          > .messageContent {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            max-width: 50%;
            word-break: break-all;

            .messageText {
              display: flex;
              align-items: center;
              justify-content: center;
              flex-direction: column;
              padding: 10px 20px;
              background-color: $primary-color;
              color: #fafafa;
              border-radius: 10px 10px 0px 10px;
              font-size: 1rem;
              font-weight: 500;
              line-height: 1.6;
              width: fit-content;
            }

            .messageImg {
              width: 100%;
              height: 200px;
              border-radius: 10px;
              object-fit: contain;
            }
          }
        }
        &.Receiver {
          > .ReceiverInfo {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 5px;

            .ReceiverImg {
              width: 40px;
              height: 40px;
              border: 2px solid $primary-color;
              border-radius: 50%;
              object-fit: cover;
            }

            .timestamp {
              font-size: 0.7rem;
              font-weight: 500;
              color: $grey;
            }
          }
          > .messageContent {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            max-width: 50%;
            word-break: break-all;

            .messageText {
              display: flex;
              align-items: center;
              justify-content: center;
              flex-direction: column;
              gap: 5px;
              padding: 10px 20px;
              background-color: $white;
              box-shadow: rgba(0, 0, 0, 0.1) 0px 8px 10px;
              border-radius: 10px 10px 10px 0px;
              font-size: 1rem;
              font-weight: 500;
              line-height: 1.6;
              width: fit-content;
            }

            .messageImg {
              width: 100%;
              height: 200px;
              border-radius: 10px;
              object-fit: contain;
            }
          }
        }
      }
    }

    .chatInput {
      display: flex;
      align-items: flex-start;
      justify-content: center;
      flex-direction: column;
      width: 100%;
      gap: 10px;
      background-color: $white;
      border-radius: 20px;
      padding: 20px;
      box-shadow: 0px 4px 10px rgba(9, 9, 9, 0.1);

      form {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        gap: 10px;

        .imgPreviewContainer {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 5px;

          .imgPreview {
            width: 80px;
            height: 100%;
            border-radius: 5px;
            object-fit: cover;
          }

          .removeImgIcon {
            font-size: 1.5rem;
            color: $primary-color;
            cursor: pointer;
            transition: all 0.3s ease-in-out;

            &:hover {
              color: $primary-color-dark;
            }
          }
        }
      }

      .filePreviewContainer {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        gap: 5px;

        .fileNamePreview {
          font-size: 1rem;
          font-weight: 500;
          color: $grey;
        }
        .removeFileIcon {
          font-size: 1.5rem;
          color: $primary-color;
          cursor: pointer;
          transition: all 0.3s ease-in-out;

          &:hover {
            color: $primary-color-dark;
          }
        }
      }
    }

    .inputBase {
      width: 100%;
      height: 100%;
      border: none;
      outline: none;
      background-color: transparent;
      font-size: 1rem;
      font-weight: 500;
      color: $grey;
      margin-left: 10px;

      &::placeholder {
        font-size: 1rem;
        font-weight: 500;
        color: $grey;
        font-style: italic;
      }
    }

    .chatIcons {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-direction: row;
      gap: 10px;
      width: 100%;

      .chatOptions {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;

        .chatIcon {
          font-size: 1.5rem;
          color: $primary-color;
          transition: all 0.3s ease-in-out;

          &:hover {
            color: $primary-color-dark;
          }
        }
      }

      .chatSend {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        gap: 10px;

        .chatIcon {
          font-size: 1.5rem;
          color: $primary-color;
          transition: all 0.3s ease-in-out;

          &:hover {
            color: $primary-color-dark;
          }
        }

        .chatIconSend {
          font-size: 2rem;
          color: $white;
          background-color: $primary-color;
          border-radius: 50%;

          transition: all 0.3s ease-in-out;

          &:hover {
            background-color: $primary-color-dark;
          }
        }
      }
    }
  }
}
